body{
    margin: 0px;
    font-family: montserrat;
    font-weight:700;
    font-size: 20px;
}

.icone{
    margin-top: 0px;
}
.menu{
    text-align: center;
}

.menu,.m_lista{
    display: flex;
    justify-content: space-between;
    
}
.m_lista{
    margin-top: 16px;
    margin-bottom: 16px;
}  
.m_item{
    list-style:none;
    color: white;
}
.container{
    background-color: black;
    margin-top: 0px;
    height: 110px;
}
#titulosite{
    margin-top: 22px;
    font-size: 25px;
    margin-left: 12px;
}
#local{
    margin-top: 22px;
    margin-right:15px;
    font-size: 22px;
}
#filmes{
    margin-top: 22px;
    margin-right:25px;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: white;
}
.sessoes{
    display: flex;
    margin:0px;
    justify-content: space-between;
    background-color: #dbead5;
    padding-top:20px;
    padding-left: 55px;
    padding-right: 55px;
}
.cards{
    margin-top: 60px;
    width: 296px;
    height: 596px;
    border: 2px solid darkblue;
    border-radius: 8px;
    text-align: center;
    font-weight:300;
    font-size: 16px;
    margin-top: 0px;
}

.cartaz{
    width:200px;
    
}
figure{
    margin: 0px;
}
.sinopse{
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 0px;
    margin-right: 8px;
    text-align: center;
}

.icone_para_fechar{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-bottom: 8px;
    margin-left: 268px;
}
.fechar{
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
}
.container_tabela{
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #dbead5;
}
.tabela{
    border: 2px solid darkblue;
    border-collapse: collapse;
    width: 300px;
    margin-top: 40px ;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 5px;
    

}
td, th{
    border: 1px solid darkblue;
    font-weight: bold;
  }
  #linha1{
    color: brown;

  }
  .linha2{
    color: green;
  }
  .rodape{
    background-color: black;
    height: 50px;
    margin: 0px;
}
.lista_rodape{
    display: flex;
    list-style:none;
    justify-content: space-around;
    margin-top: 0px;
}
.itens_rodape{
    color: white;
    margin-top: 15px;
}
#observacaoFilmes{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 60px;
    background-color: #dbead5;
    padding-top: 25px;
    font-size: 24px;
}
#ObservacaoColor{
    color: red;
}
#caixaDeAviso{
    background-color: #dbead5;

}
.tituloFilme{
    font-size: 22px;
    margin-top: 15px;
}
#terceiroFilme{
    padding-right: 21px;
    padding-top: 12px;
}