body{
    margin: 0px;
    font-family: montserrat;
    font-size: 25px;
    font-weight:700;
}

.icone{
    margin-top: 0px;
}
.menu{
    text-align: center;
}
.menu,.m_lista{
    display: flex;
    justify-content: space-between;
    
}  
.m_lista{
    margin-top: 16px;
    margin-bottom: 16px;
}  
.m_item{
    list-style:none;
    color: white;
}
#figure{
    margin: 0px;
}
.container{
    background-color: black;
    margin-top: 0px;
    height: 110px;
}
#titulosite{
    margin-top: 22px;
    margin-left: 12px;
}
#local{
    margin-top: 22px;
    margin-right:15px;
    font-size: 22px;
}
#filmes{
    margin-top: 22px;
    margin-right:25px;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    text-align: center;
}
#titulo_italico{
    font-style: italic;
    margin-right: 30px;
    margin-top: 60px ;
    margin-bottom: 60px;

}

.principal{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #dbead5;
    font-size: 22px;
}
.part2{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    background-color: #dbead5;
}
.lista1{
    text-align: left;
    font-size: 22px;
}
.cidades{
    list-style:none;
}
#lista2{
    text-align: left;
    margin-left: 30px;
    font-size: 22px;
}
.contato{
   /*  margin-left: 900px; */
    /* margin-top: 295px;
    margin-bottom:0px; */
    margin: 0px;
    margin-right: 15px;
    position: fixed;
    bottom: 220px;
    top: 845px;

}
.link_final{
    list-style: none;
    color: rgb(254, 0, 0);
    text-decoration: underline;
}

.whatsapp{
    width: 60px;
    height: 60px;
}

.whatsapp:hover{
    opacity: 0.7;
}

.rodape{
  background-color: black;
  height: 50px;
  margin: 0px;
}
.lista_rodape{
  display: flex;
  list-style:none;
  justify-content: space-around;
  margin-top: 0px;
}
.itens_rodape{
  color: white;
  font-size: 20px;
  margin-top: 15px;
}
